{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Books List {% endblock title %}

{% block content %}
<h1>Books Found</h1>

<table border="1" class="styledTable">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>

    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No books found.</td>
    </tr>
    {% endfor %}
</table>

<br/>
<a href="{% url 'books.search' %}">Back to Search</a>
{% endblock content %}
